* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

/* Header starts */
.header {
    margin-top: 20px;
}

.icon {
    background-color: #002146;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 200px;
    float: left;
}

.icon i {
    color: #fdc800;
    font-size: 20px;
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
}

.mastery {
    position: relative;
    float: left;
    padding-left: 10px;
    font-size: 20px;
}

.link {
    margin-left: 220px;
    margin-top: 15px;
}

.link li {
    display: inline;
}

.link a {
    text-decoration: none;
    font-size: 15px;
    padding-right: 40px;
    color: black;
}
/* Header ends */

/* Carousel starts */
.carousel {
    height: 600px;
    background-size: cover;
    margin-top: 20px;
}

.carousel  img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: top;
}
/* Carousel ends */

/* Advertise starts */
.advertise {
    margin-top: 50px;
    height: 400px;
}

.ad1, .ad2 {
    width: 50%;
    float: left;
}

.ad1 {
    padding-left: 209px;
    padding-right: 80px;
}

.ad1 h1 {
    color: #1b1d2d;
}

.ad1 p {
    font-size: 16px;
    margin-top: 20px;
}

.ad1 button {
    background-color: #fdc800;
    color: #012246;
    width: 110px;
    height: 40px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.ad2 img {
    height: 300px;
    width: 550px;
    border-radius: 0px 5px 5px 0px;
}
/* Advertise ends */

/* Count starts */
.count {
    padding-left: 209px;
}

.count1, .count2, .count3, .count4 {
    width: 260px;
    height: 60px;
    float: left;
}

.count2, .count3, .count4 {
    margin-left: 20px;
}

.number {
    font-size: 50px;
    font-weight: bold;
}

.number, .count .content {
    float: left;
}

.count .content {
    font-size: 18px;
    font-weight: 550;
    padding-top: 10px;
    padding-left: 20px;
}
/* Count ends */

/* Activities starts */
.activities {
    margin-top: 100px;
    padding-left: 209px;
}

.activities i {
    color: white;
    font-size: 50px;
    position: relative;
    top: -10px;
}

.activities p {
    color: white;
    font-size: 18px;
    position: relative;
    top: 10px;
}

.activities_second {
    margin-top: 20px;
}

.second, .third, .fourth {
    margin-left: 20px;
}

.activities button {
    height: 150px;
    width: 257px;
    background-color: #002146;
    border-radius: 5px;
}
/* Activities ends */

/* Event starts */
.event {
    padding-left: 209px;
    margin-top: 150px;
}

.event_left, .event_right {
    float: left;
}

.event_right {
    margin-left: 30px;
}

.event_left {
    width: 535px;
}

.event_left h1 {
    color: #1e2030;
}

.event_left_first img, .event_left_first .content {
    float: left;
}

.event_left_first {
    margin-top: 40px;
}

.event img {
    width: 150px;
    height: 100px;
    padding-left: 10px;
}

.event_left_first .content {
    margin-left: 10px;
}

.event_left_first .content .title, .event_right_item .content .title {
    color: #1b1d2d;
    font-size: 20px;
    font-weight: bold;
}

.event_left_first .date {
    color: #939393;
    margin-top: 4px;
}

.event_left_first p {
    padding-top: 3px;
}

.event button {
    width: 100px;
    height: 40px;
    background-color: #fdc800;
    color: #002146;
    border: none;
    border-radius: 5px;
    margin-left: 435px;
    margin-top: 40px;
    font-weight: bold;
}

.event_right_item {
    margin-top: 40px;
    margin-left: 10px;
}

.event_right_item .date_first {
    height: 70px;
    width: 80px;
    background-color: #fdc800;
    color: #002146;
    border-radius: 5px 5px 0px 0px;
}

.event_right_item .date_first .date_first_number {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 12px;
}

.event_right_item .date_first p {
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 12px;
}

.event_right_item .date_second {
    height: 40px;
    width: 80px;
    background-color: #002146;
    color: white;
    border-radius: 0px 0px 5px 5px;
}

.event_right_item .date_second p {
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}

.event_right .event_right_item .date, .event_right .event_right_item .content {
    float: left;
}

.event_right_item .content {
    margin-left: 20px;
}

.event_right_item .content .paragraph1 {
    margin-top: 15px;
    font-size: 18px;
}

.event_right_item .content .paragraph {
    margin-top: 5px;
    font-size: 18px;
}

.event_right_item .content .time {
    margin-top: 10px;
    color: #002146;
    font-size: 18px;
}
/* Event ends */

/* Footer starts */
.footer {
    margin-top: 100px;
    height: 450px;
    background-color: #002146;
    color: white;
    padding: 50px 209px 0px 209px;
}

.footer p {
    padding-top: 15px;
    font-size: 20px;
}

.footer ul {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footer li {
    padding-top: 15px;
}

.footer .contact i {
    color: #fdc800;
    font-size: 15px;
}

.contact, .featured, .quick {
    float: left;
}

.contact {
    width: 35%;
}

.quick {
    width: 35%;
}

.featured {
    width: 30%;
}

.copy {
    margin-top: 50px;
    margin-bottom: 0px;
}

/* Footer ends */